 .banner {
    background-color: #ffc017;
    color: #333;
    padding: 10px;
    text-align: center;
    width: fit-content;
    height: auto;
    margin-bottom: 25px;
    display: flex;
    margin-top: 50px;

 }
  
  .inner-box-left {
    flex: 1; 
    align-items: flex-start;
    margin-left: 150px;
   height: auto;
   margin-top: 20px;
  }
  
  .inner-box-left h1{
    font-size: 70px;
  }
  .inner-box-right{
    flex: 1;
    align-items: flex-end;
    margin-left: 231px;
  } 
  .inner-box-right img{
    
    width: 79%;
    height: 92%;

  }
